body  {
background-color: lightgray;

}


nav{
   color:white;
   margin-left: 20 px;
   background-color: black;
   border-radius: 5px;
   font-size: 15px;
   text-indent: 25px;
   text-align:start;
   
}
h1{
    font-size: 75px;
    text-align: center;
    color: black;
    
    
}
.section{

margin: 10px;
padding: 20px;
font-size: 30px;
border-radius: 25px;

}

.flex-container{
    text-align: center;
    display :flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    
   
}
 
@media only screen and (max-width: 1200px) {
    #main { width: 100%;}
}
   
@media only screen and (max-width: 750px) {
    #main { width: 100%;}
}
@media only screen and (max-width: 480px) {
    #main { width: 100%;}
}

.bt1 {
   text-align: center;
   border: solid 1px black;
   position: static;
   background-color: white;
   padding: 10px;
}
.bt2 {
    text-align: center;
    position: static;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
}
.bt3{
    text-align: center;
    position: static;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
}


.bt1 > button{
    background-color: blue;
    color:black;
    
}
.bt2 > button{
    background-color: green;
    color: black;
}
.bt3 > button{
    background-color: red;
    color:black;
}


footer{
    background-color: black;
    color: antiquewhite;
    position:static;
     
    
}
.bt1:hover{
  
  font-size: 20px;  
  padding: 10px;
}
.bt2:hover{
  
    font-size: 20px;  
    padding: 10px;
  }
.bt3:hover{
  
    font-size: 20px;
    padding: 10px;  
  }
hr{
   color: black; 
   

}